.cake-wrapper {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */
  height: 100vh;           /* ocupa toda a altura da tela */
  padding: 2rem;           /* opcional, para dar espaço nas laterais */
  box-sizing: border-box;  /* garante que padding não quebre o layout */
}

.cake-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  /* border: 1px solid; */

  .cake-description {
    width: 22rem;
  }
  img {
    width: 25em;
  }

  .main-left {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;

  }
}

.reserve-btn {
  width: 7rem;
  height: 3rem;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s all;
}

.reserve-btn:hover{
  background-color: #c9c9c9d2;
}