.hero-main {
background-color: #990000;
}

.hero-wrapper {
  padding: 15vh 5vw;
  width: 90vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-grid {
  padding: 1vw 1vh 1vw 1vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
  grid-template-rows: repeat(2, 1fr);    /* 2 linhas iguais */
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: #fff;
}

.hero-cell {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hero-cell::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hero-cell:hover::after {
  opacity: 1; /* só a imagem em hover escurece */
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* preenche a área sem distorcer */
  display: block;
  transition: transform 0.3s ease;
}

.hero-cell:hover .hero-img {
  transform: scale(1.05);
}
