ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list-order-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.btn-actions {
  gap: 10px;
  display: flex;
}

.cake-list li {
  list-style: none;
}

.list-order-container {
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 20px;
}

.list-order-input {
  /* margin-bottom: 20px; */
  padding: 8px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  box-sizing: border-box;
}

.list-order-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
}

.list-order-table th,
.list-order-table td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: top;
  text-align: left;
}

.list-order-table ul {
  margin: 0;
}
.list-order-table th,
.list-order-table td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: top;
  text-align: left;
}

.list-order-table td.status-cell,
.list-order-table td.payment-cell {
  text-align: center;
  font-weight: bold;
}

.list-order-table thead {
  background-color: #185495f5;
  color: white;
}

.list-order-table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* branco */
}

.list-order-table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* cinza claro */
}

.day-summary {
  padding-bottom: 30px  ;
}

.list-btn {
  border: 3px solid #000;
  padding: 6px 5px 3px 5px;
  border-radius: 20%;
  cursor: pointer;

  img {
    width: 30px;
  }
}

.list-order-table th.situation-cell,
.list-order-table td.situation-cell {
  min-width: 131px; /* aumenta espaço para o react-select */
  width: 131px;
}

.id-cell {
  width: 30px !important;
}

.table-head {
  display: flex;
}

/* Esconde cards no desktop */
.mobile-orders {
  display: none;
}

/* Esconde tabela no mobile */
.table-wrapper table{
  display: block;
  width: 100%;
  max-height:75vh;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  scrollbar-gutter: stable both-edges;
}

.table-wrapper::-webkit-scrollbar {
  width: 12px;      /* largura da barra vertical */
  height: 12px;     /* altura da barra horizontal */
}

.table-wrapper::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table-wrapper {
  scrollbar-width: auto;      /* "thin" para mais fina */
  scrollbar-color: #888 #f0f0f0;
}

.table-cake {
  th {
    color: #000;
    background: rgb(128, 213, 216);
    padding: 2px;
  }
}

/* Card estilo mobile */
.order-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 1rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.order-id {
  font-weight: bold;
  color: #333;
}

/* Mobile */
@media (max-width: 768px) {
  .table-wrapper {
    display: none;
  }
  .mobile-orders {
    display: block;
  }
}
